ion-content {
    --background: url('/assets/fondo.jpg') no-repeat center center / cover;
}

p {
    color: black;
}

li {
    color: black;
}

.card {
    background-color: white;
}

.desc {
    color: #253B6D;
}

.pad {
    padding-left: 7%;
}