
 p{
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}
h3{
   font-weight: bold !important;
   font-family: 'Poppins', sans-serif;
   color:white;
}
.container2{
    width: 100%;
    margin: auto;
   background-image: url(../../assets/img/4.jpg);
   background-size: cover;
}
.boton{
   color: white !important;
   background: #18aca0 !important;
   
   border: 3px solid #18aca0 !important;
   
}
.mat-stepper-horizontal {
    font-size: 18px !important;
    font-family: 'Poppins',sans-serif !important; 
}