ion-button {
    margin: 5% 37.5%
}

.password {
    font-weight: bold;
    color:#474747;
}

ion-grid{
    margin-top: 2%;
}

ion-content {
    --background: url('/assets/asddsa.jpg') no-repeat center center / cover;
} 