<div class="container center" style="margin-top: 100%px; ">
    <mat-form-field style="width: 70%;">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" placeholder="Filtrar" [(ngModel)]="textFilter" (keyup)="filtrarPromocion()">
        <button mat-button  matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon>close</mat-icon>
            </button>
    </mat-form-field>
  </div>

<section class="spacer bg3" style="margin-top:40px">
    <div class="container">
        <div class="row active-with-click">
    
    <div class="class row" style="margin-top: 60px" >
        <div class="col m4 center" *ngFor="let promo of filterPromocion">
            <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                    <img  height="220px" class="activator" src="{{promo.urlImagen}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator">{{promo.nombre}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title">{{promo.nombre}}<i class="material-icons right">close</i></span>
                    <p>{{promo.descripcion}}<br> 
                    <strong>Con descuento de:</strong><strong style="font-size: 15px; font-weight: bold;">{{promo.descuento.porcentaje}} % </strong><br>
                    <strong>Válido desde el </strong>{{promo.fechaInicio}}<br>
                    <strong>Hasta el </strong>{{promo.fechaExpiracion}}</p>
                    <a mat-button class="botones-colossus-catalogo" href="http://localhost:4201/login;idProm={{promo.id}};idServi={{promo.catalogoServicio.id}}" target="_blank">Obtener  <i class="fas fa-cart-arrow-down"></i></a>
                </div>
            </div>
        </div>
</div>
</div>
</div>
</section>

<div class="container center">
    <h4 class="col m4 l4">¿Desea obtener mayor información?</h4>
    <div class="row" style="text-align: center">
        <button mat-button class="boton" [routerLink]="[ '/suscribirse']">Suscribete</button>
    </div>
</div>
