<footer class="page-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col l3 m12 s6">
        <h5>Contáctanos</h5>
        <i class="fas fa-phone"></i> {{empresa?.telefono}}
      </div>
      <div class="col l6 m12 s12">
        <h5>Visítanos</h5>
        <i class="fas fa-map-marker-alt"></i> {{empresa?.direccion}}
        <hr>
        Lunes a Viernes: {{horario?.horaInicio}} hasta las {{horario?.horaFinal}}
        <br>
        Feriados de: {{horario?.horaInicioFeriado}} hasta las {{horario?.horaFinalFeriado}}
      </div>
      <div class="col l3 m12 s6">
        <h5>Escríbenos</h5>
        <i class="fas fa-envelope"></i> {{empresa?.correo}}
        <br>
        <a id="Instagram" (click)="abririnsta(empresa)"><i
            class="fab fa-instagram icon-circled icon-bgdark icon-instagram icon-2x" style="font-size: 30px"></i></a>
        <a id="Twitter" (click)="abrirtwit(empresa)"><i
            class="fab fa-twitter-square icon-circled icon-bgdark uk-icon-twitter-square icon-2x"
            style="font-size: 30px"></i></a>
        <a id="Facebook" (click)="abrirface(empresa)"><i
            class="fab fa-facebook-square icon-circled icon-bgdark uk-icon-facebook-square icon-2x"
            style="font-size: 30px"></i></a>
      </div>

      <!-- <div class="col l4 m12 s12">
        <h5>Horarios</h5>
        <i class="fas fa-map-marker-alt"></i> Lunes a Viernes de 8:00am hasta las 12:00pm y de 1:00pm hasta las 5:00pm
        <i class="fas fa-map-marker-alt"></i> Feriados de 8:00am hasta las 12:00pm y de 1:00pm hasta las 5:00pm
      </div> -->
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container center">
      <div class="row">
        <div class="col l6 s12">
          <a class="center" style="color: #ffffff">&copy; Colossus. Todos los derechos reservados.</a>
        </div>
        <div class="col l6 s12">
          <a style="color: #ffffff;">Desarrollado por Team Siri</a>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</footer>
