.image {
   border-style: dashed;
   border: 4px dashed white;
   padding: 8%;
}

h3 {
    font-weight: bold;
}

ion-slides{
    background-image: linear-gradient(to bottom left,#1f5f8b, #18aca0) !important;
    height: 100%;
    color: white;
}

.button{
    margin: 0.5% 1.5% 0.5% 17%;
}