ion-text{
    --size: 25em;
    text-align: center;
    
}

.label-primary {
    padding-bottom: 6%;
    padding-top: 3%;
    text-align: center;
}

.label {
    padding-bottom: 3%;
    padding-top: 3%;
    text-align: center;
}

.rate{
    margin: 2%;
}