/* header*/
.serv{
  text-align: center
}
  .icono{
  position: relative;
  }
    .clearfix {
      *zoom: 1;
    }
    
    .clearfix:before,
    .clearfix:after {
      display: table;
      line-height: 0;
      content: "";
    }
    
    .clearfix:after {
      clear: both;
    }
    
    header .logo {
        text-align:center;
        margin-bottom:0px;
    }
    
    .bienvenida{
        
        text-align:center;
        width: 600px;
        height: 400px;
    }
    
    .container {
      width: auto;
      height: auto;
      margin-right: auto;
      margin-left: auto;
      *zoom: 1;
      padding-right: 20px;
      padding-left: 20px;
      font-family: 'Poppins', sans-serif;
    
    }
    
    .container:before,
    .container:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both;
    }
    
    .row {
      margin-bottom:30px;
      /*margin-left: -20px;
      *zoom: 1;*/
      font-family: 'Poppins', sans-serif;
    }
    
    .span12 {
      width: 940px;
    }
    
    .row-fluid .span12 {
      width: 100%;
      *width: 99.94680851063829%;
    }
    
    input.span12,
    textarea.span12,
    .uneditable-input.span12 {
      width: 926px;
    }
    
    .table td.span12,
    .table th.span12 {
      float: none;
      width: 924px;
      margin-left: 0;
    }
    .boton{
      color: #1f5f8b !important;
      background:#ffff !important;
      border: 0px#E0A801 !important;
      height: 50px;
      width: 130px;
      font-size: 20px;
   }
    
    /* flexslider */
    @import url('../../assets/css/flexslider.css');
    
    #main-flexslider ul.slides li p {
        /*font-size: 72px;*/
        font-size: 50px;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0px;
        text-align: center;
        line-height: 1;
        /*color:#510226*/
        /*color: #E0A801;*/
        color: #5E2129;
    }
    
    #main-flexslider.flexslider {
        margin:0;
        background:none;
        border:none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;
    }
    
    .flexslider2 {
      font-size: 30px;
      font-family: 'Poppins',sans-serif;
      font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 0px;
        text-align: center;
      line-height: 1;
      color: white;
    }
    
    /*que hacemos*/
    .nosotros {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    .nosotros img {
      width: 100%;
      max-width: 400px;
      border:none;
    }
    
    .nosotros div{
      width: 50%;
      text-align: center;
      font-size: 18px;
    }
    
    .nosotros div img{
      width: 200px;
      border:none;
    }
    
    .nosotros div p{
      /*background: #17AA8B;*/
      background: #9B9B9B;
      color: #5E2129;
      border-radius: 15px;
      padding:20px;
    }
    
    .titulo {
        text-align-last: center;
      color: #1f5f8b
    }

    .services{
        text-align-last: center;
        color: #1f5f8b
    }

    .parrafocentrado{
        text-align-last: center;
    }
    
    .discover-button {
      padding-top: 68px;
      margin: 0 -10px;
      clear: both;
      text-align: center;
    }
    
    
    
    .clearfix2 {
      display: block;
      margin: 0px;
    }
    
    .clearfix2:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
       font-size: 0;
    
    }
    
    .button {
      margin: 0;
      padding: 0;
      line-height: normal;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
      /*color: white;*/
      color: #1f5f8b;
        /*background: #10bbf1;*/
        background: #9B9B9B;
        height: 58px;
        /*border: 2px solid #10bbf1;*/
        border: 3px solid #1f5f8b;
        font: 500 22px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 21px;
        -moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    
    }
    
    .button:hover {
      background: #1891ac;
      border-color: white;
    }
    
    .button:active {
      background: white;
      border-color: white;
    }
    
    a.button {
      text-decoration: none;
      display: inline-block;
      line-height: 54px;
      color: white;
    }
    
    a.button:hover {
      color: white
    }
    
    a.button:active {
      color: white
    }
    
    input[type="button"],
    button {
      cursor: pointer;
      -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
    }
    
    button::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
    
    .button-download:after {
        background: url(../../assets/img/sprite.png) 0 0 no-repeat;

    
      content: "";
      position: absolute;
      left: 23px;
      top: 14px;
      width: 32px;
      height: 32px;
      background-position: -100px 0;
    }
    
    .button-download {
      height: 62px;
      float: left;
      font: 500 11px/13px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding-left: 61px;
      padding-right: 0;
      width: 180px;
      text-align: left;
      margin: 0 10px 20px;
      position: relative;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #1f5f8b;
    }
    
    .button-download.android:after {
      background-position: -150px 0
    }
    
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .button-download:after {
        -moz-background-size: 200px 50px;
        -webkit-background-size: 200px 50px;
        -o-background-size: 200px 50px;
        background-size: 200px 50px;
        color: #1f5f8b;
    }
    }
    
    .button-download-title {
      padding: 11px 0 1px;
      display: block;
      font-size: 11px;
      line-height: 13px;
      text-align: left;
    }
    
    .button-download-subtitle {
      display: block;
      font-size: 21px;
      line-height: 23px;
      text-align: left;
    }
    
    /*  CAROUSEL*/
    
    
    
    /* === section spacer === */
    
    section.spacer {
        padding:90px 0 70px;
        color:white;
    }
    
    section.spacer.bg3 {
        background-color: #1891ac;
        width:100%;
        height:auto;
        margin:0;
    }
    
    .aligncenter {
        text-align: center;
    }
    
    
    .span4 {
      width: 300px;
    }
    
    .span8 {
      width: 620px;
    }
    
    .span3 {
      width: 220px;
    }
    
    .btnsuscrip {
    
      margin-left: 10px;
    }
    .caption{
        font-family: 'Poppins',sans-serif;
    }
    
  
    img.icon-circled {
      display: inline-block;
      border-radius: 1000px !important;
      -moz-border-radius: 1000px !important;
      -webkit-border-radius: 1000px !important;
      -o-border-radius: 1000px !important;
      -ms-border-radius: 1000px !important;
      text-align: center;
      width: 24px !important;
      height: 24px !important;
      line-height: 24px !important;
  }
  
  .icon-circled.icon-2x{
      width: 110px !important;
      height: 110px !important;
      line-height: 110px !important;
      background-color: #1891ac;
  }

  