<!-- <div class="row">
    <div class="col s12" *ngFor="let item of carrusel">
      <div class="carousel carousel-slider">
        <a href="" class="carousel-item">
          <img src="{{item.url_imagen}}" alt="">
        </a>
      </div>
    </div>
  </div> -->

    <!-- <div class="carousel" *ngIf="carrusel.length > 0">
        <a *ngFor="let item of carrusel" class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    </div> -->

    <slideshow
            [height]="height"
           [minHeight]="'525px'"
           [autoPlay]="true"
           [showArrows]="false"
           [imageUrls]="imageSources"
           [lazyLoad]="imageSources?.length > 1"
           [autoPlayWaitForLazyLoad]="true">
    </slideshow>

  <!-- <div class="carousel" *ngFor="let item of carrusel">
    <a class="carousel-item"><img src="{{item.url_imagen}}"></a>
  </div> -->

<div class="container">
<!-- Aqui va la seccion de Servicios -->

       <div class="row">
          <div class="col s12 serv">
             <h1 class="services">Nuestros servicios</h1>
             <p class="parrafocentrado">Suscríbase y viva la experiencia con nosotros. Le ofrecemos las mejores ofertas y planes en materia de Reparación y Mantenimiento de equipos electrónicos.</p>
          </div>
       </div>
       <div class="row">
          <app-tiposervicios></app-tiposervicios>
       </div>

</div>
<!------------------------------------->



<section class="spacer bg3" style="margin-top: 0px; padding: 0;">
    <div class="container">
        <div class="row">
            <div class="row" style="margin-top: 50px">

                <div class="col m4 s12 center" *ngFor="let item of caracteristicas">
                    <div>
                        <div style="margin: 0 0 25px 0;">
                            <div>
                                <div class="col l3 m4 s5" style="margin: 0 0 5px 0;" class="container">
                                    <img src="{{item.urlImagen}}" class="icon-circled icon-2x">
                                </div>
                                <div class="bfc-o" class="col l9 m8 s7" class="container">
                                    <h5>{{item.titulo}}</h5>
                                    <p class="remove-margin">{{item.descripcion}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="container">
      <div class="row" *ngFor="let des of descarga">
          <div class="col m6">
              <br>
              <img src="{{des.urlImagen}}" width="250px" height="400px">
          </div>
          <div class="col m6 s12">
              <h3 class="titulo">{{des.titulo}}</h3>
              <p><strong>{{des.descripcion}}</strong></p>
              <div class="discover-button clearfix2">
                  <a href="#" class="button button-download">
                      <span class="button-download-title">Descargar para</span>
                      <span class="button-download-subtitle">iOS</span>
                  </a>
                  <a href="#" class="button button-download android">
                      <span class="button-download-title">Descargar para</span>
                      <span class="button-download-subtitle"> Android</span>
                  </a>
              </div>
          </div>
      </div>

</div>

<!-- Seccion de descarga de la App -->
<div class="container" style="margin-top:70px" *ngFor="let ini3 of inicio">
    <div class="row">
        <div class="col m6 s12">
            <img src="../../assets/img/Muestra.jpeg" width="250px" height="400px">
        </div>
        <div class="col m6 s12">
            <h3 class="titulo">Descarga ya Nuestra App</h3>
            <p><strong>Aprovecha las ventajas que ofrecemos para ti. no te quedes sin saber el estatus de tu equipo</strong></p>
            <div class="discover-button clearfix2">
                <a href="#" class="button button-download">
                    <span class="button-download-title">Descargar para</span>
                    <span class="button-download-subtitle">iOS</span>
                </a>
                <a href="#" class="button button-download android">
                    <span class="button-download-title">Descargar para</span>
                    <span class="button-download-subtitle">Android</span>
                </a>
    </div>
</div>
</div>
</div>
