<mat-toolbar class="colossus-navbar">
  <div fxHide fxShow.lt-md>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a class="brand-logo" ><img src="{{empresa?.urlLogo}}" width="100px" height="70px" ></a>
  </div>
  <span class="example-spacer"></span>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.lt-md>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
            <button mat-button class="botones-colossus" routerLink="/inicio">Inicio<mat-icon class="example-icon">home</mat-icon></button>
            <button mat-button class="botones-colossus" routerLink="/nosotros">Nosotros<mat-icon class="example-icon">domain</mat-icon></button>
            <button mat-button class="botones-colossus" routerLink="/conocenos">Conócenos<mat-icon class="example-icon">group</mat-icon></button>
            <button mat-button class="botones-colossus" routerLink="/catalogo">Servicios<mat-icon class="example-icon">card_travel</mat-icon></button>
            <button mat-button class="botones-colossus" routerLink="/promociones">Promociones<mat-icon class="example-icon">loyalty</mat-icon></button>
            <button mat-button class="botones-colossus" routerLink="/suscribirse">Subscribirse<mat-icon class="example-icon">person</mat-icon></button>
            <button mat-button class="botones-colossus" (click)="abrirlogin()">Ingresar<mat-icon class="example-icon">add_to_home_screen</mat-icon></button>
            <!-- <button mat-button class="botones-colossus" routerLink="http://localhost:4201/login">Ingresar<mat-icon class="example-icon">add_to_home_screen</mat-icon></button> -->
        </li>
      </ul>
  </div>
</mat-toolbar>
