<div class="fixed-action-btn">
  <a href="#form2" class="waves-effect  color2 modal-trigger waves-light btn">Tienes Preguntas  <i class="fas fa-question"></i></a>

  <div class="modal" id="form2">
    <div class="container">
      <br><br>
      <div class="row center">
          <h4>Preguntas Frecuentes</h4> 
        </div>
      <div class="row center"   *ngFor="let preg of preguntas">
      <form class="example-form2">
        <h5>{{preg?.pregunta}}</h5>
        <p>{{preg?.respuesta}}.</p>
        <br>
      </form>
      </div>
    </div>
  </div> 
</div>
