.example-full-width{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.modal-trigger{
    background-color: #18aca0;
    color: #f4f4f4;
}

.mat-menu-item{
    color: rebeccapurple;
    font-family: 'Poppins', sans-serif;
}