<section class="spacer bg3" style="margin-top:120px">
    <div class="container">
        <div class="row active-with-click">

            <div class="col m6 s12 l4 center" *ngFor="let empl of empleados">
                  <div class="material-card CaputGold">
                     <h2>
                        <span>{{empl.usuario.nombre}}<br>{{empl.usuario.apellido}}</span>
                            <strong>
                              <i class="material-icons">star</i>
                                   {{empl.usuario.rol.nombre}}
                           </strong>
                     </h2>
                  <div class="mc-content">
                      <div class="img-container">
                            <img class="img-responsive" src="{{empl.usuario.urlFoto}}">
                      </div>
                  <div class="mc-description">
                        {{empl.descripcion}}
                  </div>
                  </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                </div>
                </div>
                <br> 
            </div>
        </div>
    </div>
</section>
<br>
<br>
<br>
<br>