<section style="margin-top:50px">

  <div class="row animated fast fadeIn" >
  <div class="container">
    <div class="col m4">
        <div class="card darken-1 efecto">
            <div class="card-title titulos">Misión</div>
            <div class="card-img">
              <img src="{{nosotros2.urlImagenMision}}">
            </div>
            <div class="card-content">
               <p>{{nosotros2.mision}}</p>
            </div>
        </div>
    </div>
  
    <div class="col m4">   
        <div class="card darken-1 efecto">
          <div class="card-title titulos">Visión</div>
          <div class="card-img">
              <img src="{{nosotros2.urlImagenVision}}">
            </div>
            <div class="card-content">
                <p>{{nosotros2.vision}}</p>
            </div>  
        </div>
    </div>
    
    <div class="col m4">            
      <div class="card darken-1 efecto">
            <div class="card-title titulos">Valores</div>
            <div class="card-img">
              <img src="{{nosotros2.urlImagenObjetivoGeneral}}">
            </div>
            <div class="card-content">
              <p>{{nosotros2.objetivoGeneral}}</p>
            </div>
      </div>
    </div>
  
  </div>
  </div>
        
  </section>
  