<mat-sidenav-container>
  <div class="Fondo">
    <div class="container" style="margin-top:50px">
      <div class="container center" style="margin-top: 70px;">
        <h3 style="margin-top: 10px">¡Encuentra el servicio que necesitas!</h3>

        <mat-form-field style="width: 70%;">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" placeholder="Buscar servicio" [(ngModel)]="textFilter"
            (keyup)="filtrarCatalogo()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

      </div>
      <mat-accordion [hidden]="search">
        <div class="row">
          <div class="col s4" *ngFor="let cat of catalogosExhi">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                <img height="220px" class="activator" src={{cat?.imagenCategoria}}>
              </div>
              <div class="card-content">
                <span class="card-title activator">{{cat?.categoria}}<i
                    class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Servicios Exhibición<i
                    class="material-icons right">close</i></span>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{cat?.tipoEquipo}}
                      <input type="hidden" (keyup)="OnIdKeyUp($event)" value={{equipo}}>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header (click)="openBottomSheet(cat?.actividades)">
                      <mat-panel-title>
                        {{cat.tipoServicio}}

                        <input type="hidden" (keyup)="OnIdKeyUp($event)" value={{equipo}}>
                      </mat-panel-title>

                    </mat-expansion-panel-header>

                    <!-- <ul>
                                        <li *ngFor="let actividad of cat?.tipoServicio?.actividades"><mat-icon class="example-icon">arrow_right</mat-icon>
                                            {{actividad?.nombre}}
                                        </li>
                                    </ul> -->
                  </mat-expansion-panel>
                </mat-expansion-panel>

              </div>
            </div>
          </div>
        </div>
      </mat-accordion>
      <mat-accordion [hidden]="!search">
        <div class="row">
          <div class="col s4" *ngFor="let cat of filterCatalogo" [hidden]="!cat.tipoServicio">
            <div class="card small">
              <div class="card-image waves-effect waves-block waves-light">
                <img height="220px" class="activator" src={{cat?.imagenCategoria}}>
              </div>
              <div class="card-content">
                <span class="card-title activator">{{cat?.categoria}}<i
                    class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Servicios<i
                    class="material-icons right">close</i></span>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{cat?.tipoEquipo}}
                      <input type="hidden" (keyup)="OnIdKeyUp($event)" value={{equipo}}>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header (click)="openBottomSheet(cat?.tipoServicio?.actividades)">
                      <mat-panel-title>
                        {{cat.tipoServicio?.tipoServicio?.nombre}}
                        <input type="hidden" (keyup)="OnIdKeyUp($event)" value={{equipo}}>
                      </mat-panel-title>

                    </mat-expansion-panel-header>
                    <!-- <ul>
                                        <li *ngFor="let actividad of cat?.tipoServicio?.actividades"><mat-icon class="example-icon">arrow_right</mat-icon>
                                            {{actividad?.nombre}}
                                        </li>
                                    </ul> -->
                  </mat-expansion-panel>
                </mat-expansion-panel>


              </div>
            </div>
            <!-- Modal Structure -->
            <div id="{{cat.id}}" class="modal">
              <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
              </div>

            </div>
          </div>
        </div>
      </mat-accordion>
    </div>
    <br>
    <br>
  </div>
</mat-sidenav-container>
