.mat-sidenav-container{
    height: 100%;
    background-repeat: no-repeat;
 /*   background-image: url(../../assets/img/fondo3.jpg);*/ 
    background-size: 100% 100%;
}

h3{
    font-weight: bold !important;
    font-family: 'Poppins', sans-serif;
    color:black;
 }

 .card{
     background-color:#1891ac;
 }

.card-content{
    color: white;
}