<div class="fixed-action-btn">
 <a href="#form" class="waves-effect  color2 modal-trigger waves-light btn ">Envíanos un mensaje  <i class="fas fa-headset"></i></a>
 <br><br>
 <br><br>

    <div class="modal" id="form" [formGroup]="formSugerencias">
      <div class="container">
        <br><br><br>
        <div class="row center">
            <h4>Envianos tus sugerencias y recomendaciones</h4>
          </div>
        <br>

          <label id="example-radio-group-label" style="font-size: 15px;">Seleccione el tipo de comentario</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
           formControlName="idTipoComentario">
            <mat-radio-button class="example-radio-button"
             *ngFor="let item of tipoComentario"
             [value]="item.id">
                <p>{{item.nombre}}</p>
            </mat-radio-button>
          </mat-radio-group>

        <form class="example-form2"  [formGroup]="formSugerencias">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Correo electrónico" formControlName="correo">
          </mat-form-field>
          <br><br><br>
        </form>

        <form class="example-form3"  [formGroup]="formSugerencias">
          <mat-form-field class="example-full-width">
            <input matInput maxlength="256" placeholder="Escriba aquí su mensaje" formControlName="descripcion">
          </mat-form-field>
          <br>
        </form>
        <br>

        <div class="row center">
          <button class="btn color waves-effect" (click)="guardarSugerencia()">Enviar</button>
        </div>
        <br>
      </div>
    </div>
</div>
