.centrado{
    text-align: center;
    padding-bottom: 7%;
}


page-perfil {
    .header-image {
        background-color:  #1f5f8b;
        height: 15vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: -1;
    }
    .main-content {
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }
    .circular {
        width: 100px;
        height: 100px;
        position: inherit;
        border-radius: 50%;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border: solid white;
        background-color: #1f5f8b;
        background-size: 100%;
        margin-top: -70px;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 50px;
    }
    .profile-description {
        font-size: 15px;
        color: #888;
    }
}

.theme-1, .theme-color{
    --color: white;
    --text-align: center;
}

.theme-color{
    --background: #253b6d;
}

.theme-1{
    --background: #1f5f8b;
}

.center{
    margin: auto;
    padding-top: 10px;
 }

 ion-content {
    --background: url('/assets/fondo.jpg') no-repeat center center / cover;
}

ion-avatar {
    width: 100px;
    height: 100px;
}

.tittle {
    font-weight: bold;
    color:#474747;
}

h3 {
    text-align: center;
}