<div class="row">
    <div class="col s12 m4" *ngFor="let item of catalogosExhi" style="font-size: 20px; color: #253b6d">
      <div class="card">
        <div class="card-image" routerLink="/catalogo">
          <img src="{{item.imagenCategoria}}" width="120" height="150">
          <span class="card-title" style="font-size: 20px;"></span>
        </div>
        <div class="card-content" style="font-size: 20px; background-color: #253b6d">
          <p style="font-size: 20px; color: #fcfcfc">{{item.categoria}}</p>
        </div>
      </div>  
    </div>
</div> 